# Visual Studio Code configuration files
**/.vscode/**
!**/.vscode/c_cpp_properties.json

# Build configuration outputs
**/build/*
**/*.elf
**/*.hex

# Documentation temporary files
docs/*.~*

# KiCad files
docs/schematics/*.bak
docs/schematics/*.bck
docs/schematics/*-cache.lib

# MacOS files
**/.DS_Store