# Visual Studio Code configuration files
**/.vscode/**
!**/.vscode/extensions.json
!**/.vscode/launch.json

# KiCad outputs
**/kicad/out

# Build configuration outputs
**/build/*
**/*.elf
**/*.hex
**/*.bin

# Arduino
out
tools
libraries

# Documentation temporary files
docs/*.~*

# KiCad files
docs/kicad/*.*-bak
docs/kicad/*.bck
docs/kicad/*-cache.lib
docs/kicad/*-rescue.*
docs/kicad/fp-info-cache
docs/kicad/**/*.bak

# MacOS files
**/.DS_Store
